<!DOCTYPE html>
<html>
	<head>
      <meta
      name="viewport"
      content="
        width=device-width,
        initial-scale=1,
        minimum-scale=1,
        maximum-scale=1"
      />
      <title><%= title %>	</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/allCategories2.css">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script type="text/javascript" src="javascripts/RSVPGenerator.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/unsemantic/1.2.3/unsemantic-grid-responsive-tablet.css"></script>
    </head>
			
    <body>


				<main role="main">


          <div class="banner">
            <header>
              <div style="padding: 5px;">
                <img src="/images/logo.png"  style="width:81.675px;height:33.75px;display: inline-blocks;white-space: nowrap; text-indent: -9999px; overflow: hidden;" ></img>
              </div>      
            </header>


            <section id="banner-contents">
                <h1 class="title"> All Categories </h1>
                <div id="rsvp_div" class="rsvp_div"></div>
            </section>

          
          
          </div>






          <section id="categorySection" class="wrapper">
            
          </section>
          <script src="javascripts/addCategories.js"></script>
          
				</main>
			</body>
		</html>
