<!DOCTYPE html>
<html>
	<head>
      <meta
      name="viewport"
      content="
        width=device-width,
        initial-scale=1,
        minimum-scale=1,
        maximum-scale=1"
      />
      <title><%= title %>	</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/allCategories2.css">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/unsemantic/1.2.3/unsemantic-grid-responsive-tablet.css"></script>
      <script src="javascripts/RSVPGenerator.js"></script>
    </head>
			
    <body>
      <header>
        <div  style="text-align: left; vertical-align: top;padding: 5px">
          <img src="/images/logo.png"  style="width:81.675px;height:33.75px;display: inline-blocks;white-space: nowrap; text-indent: -9999px; overflow: hidden;" ></img>
       </div>      
      </header>

				<main role="main">
          
          <section id="jumbotron" class="jumbotron text-center">
						<div class="container">
							<h1 class="jumbotron-heading">All Categories</h1>
						</div>
          </section>

          <section id="categorySection" class="wrapper">
            
          </section>
          <script src="javascripts/addCategories.js"></script>
          
				</main>
			</body>
		</html>
