<!DOCTYPE html>
<html>
  
  <head>
    <title><%= title %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/allCategoriesStyle.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="javascripts/RSVPGenerator.js"></script>
  </head>

  <header>
    <div  style="text-align: left; vertical-align: top;padding: 10px">
      <img src="/images/logo.png"  style="width:163.35px;height:67.5px;display: inline-blocks;white-space: nowrap; text-indent: -9999px; overflow: hidden;" > </img>
  </div>
</header>

  <body>
    <main role="main" style="background-color: #eee;">

        <section id="jumbotron" class="jumbotron text-center" style="padding-top: 20px; padding-bottom: 20px;">
          <div class="container">
            <h1 class="jumbotron-heading">All Categories</h1>
          </div>
        </section>


        <section id="cardSection" >
          <div class="cardLeft">
            <div class="card">
             <img src="/images/antiques.jpg" class="card-img-top">
              <div class="card-body">
               <p class="card-text">Antiques</p>
               
              </div>
            </div>
          </div>
          <div class="cardRight"> 
            <div class="card">
              <img src="/images/art.jpg" class="card-img-top">
              <div class="card-body">
                <p class="card-text">Art</p>
                
              </div>
            </div>
          </div>

        </section>
        


          <section id="cardSection" >
            <div class="cardLeft">
              <div class="card">
               <img src="/images/baby.jpg" class="card-img-top">
                <div class="card-body">
                 <p class="card-text">Baby</p>
                 
                </div>
              </div>
            </div>
            <div class="cardRight"> 
              <div class="card">
                <img src="/images/books_comics_magazines.jpg" class="card-img-top">
                <div class="card-body">
                  <p class="card-text">Books, Comics & Magazines</p>
                  
                </div>
              </div>
            </div>



            <section id="cardSection" >
                <div class="cardLeft">
                  <div class="card">
                   <img src="/images/business_office_industrial.jpg" class="card-img-top">
                    <div class="card-body">
                     <p class="card-text">Business, Office & Industrial</p>
                     
                    </div>
                  </div>
                </div>
                <div class="cardRight"> 
                  <div class="card">
                    <img src="/images/cameras_photography.jpg" class="card-img-top">
                    <div class="card-body">
                      <p class="card-text">Cameras & Photography</p>
                      
                    </div>
                  </div>
                </div>
  


        

        
      </main>
  </body>
</html>
