<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="
  width=device-width,
  initial-scale=1,
  minimum-scale=1,
  maximum-scale=1" />
    <title>
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/productStyle.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>

    <div class="banner">
        <header>
            <div style="padding: 5px;">
                <img src="/images/logo.png" style="width:81.675px;height:33.75px;display: inline-blocks;white-space: nowrap; text-indent: -9999px; overflow: hidden;"></img>
            </div>
        </header>

        <section id="banner-contents">
            <h1 class="title">Canon CanoScan LiDE 300 Flatbed scanner</h1>
            <hr>
        </section>

        <div class="info">

            <div class="buttonRow">

            </div>


            <div class="productRow">
                <img class="productImage" src="/images/scanner.jpg">
                <p class="price">£47.00 </p>
                <button class="add">Add To Basket</button>
            </div>
            <p class="description">Compact and affordable, this lightweight scanner is perfect for those wanting straightforward scanning at the touch of a button.</p>

        </div>

    </div>


    
</body>

</html>