.text-center{
    padding-top: 0.05px; 
    padding-bottom: 10px;
    background-color: #eee;
}

.jumbotron-heading {
    font-size: 30px;   
}

header{
    background-color: white;
}

body{
    background-color: #eee;
}

.grid-container{
    padding: 2px;
}


.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
}

.gridsquare{

    background-color: white;   
     padding-bottom: 50px;
     width: 100%;
}

img{
    height: 165px;
}

.jumbotron{
    margin-bottom: 0px;
}
