.text-center{
    padding-top: 0.05px; 
    padding-bottom: 10px;
    background-color: #eee;
}

/* .allCatText  {
    font-size: 20px; 
    position: fixed;
    background-color: #eee;  
    text-align: center;
    
} */

header{
    background-color: white;
}

body{
    background-color: #eee;
}

.grid-container{
    padding: 2px;
}


.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
    padding-top: 150px;
}

.gridsquare{

    background-color: white;   
     padding-bottom: 50px;
     width: 100%;
}

img{
    height: 165px;
}


.banner{
    position: fixed;
    width: 100%;
    height: 150px;
    background-color: #eee;
}



.rsvp_div{
    background-color: white;
    font-size: 15px;
    text-align: center;
    width: 70%;
    margin: auto;


    border-radius: 25px;
    border: 2px solid black;


}

.divider{
    height: 150px;
}

.title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
