.cardLeft {

  padding-left: 20px;
  padding-right: 20px;
  height: 540px;
  width: 460px;
  background-color: rgb(168, 193, 236);
  float: left;


}

.cardRight {
  float: right;
  height: 540px;
  padding-left: 20px;
  padding-right: 322px;
  background-color: rgb(168, 193, 236);

}

.card {
  width: 12rem; 
  padding-top: 30px;
   

}

.card-img-top {
  height:420px; 
  width:420px;
}

.card-text {
  font-weight: bold;
  font-size: 30px;
  padding-left: 10px;
  width: 420px;
}

body {
  background-color: rgb(93, 129, 191);
}

header {
  background-color: white;
}

